# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
Builds/
Logs/

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
